body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    background-color: black;
    height: 80px;
    display: flex;
}

p{
    color: white;
}

button{
    height: 70px;
    width: 200px;
    background-color: black;
    display: block;
    margin: 0 auto;
    color: white;
    border: 1px;
    border-radius: 30px;
    font-size: larger;
}

header{
    height: 550px;
    width: 1897px;
    background-color: black;
    background-image: url("img/gym.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.header_logo{
    height: 500px;
    width: 1895px;
    justify-content: center;
    display: flex;
}

.logo{
    height: 80px;
    width: 80px;
}

.label{
    margin-top: 25px;
    margin-left: 10px;
    font-size: x-large;
}

section{
    display: flex;
}
.membership{
    background-color: white;
    height: 500px;
    width: 637px;
}

.active_members{
    background-color: white;
    height: 500px;
    width: 637px;
}

.expiring_members{
    height: 500px;
    width: 637px;
    background-color: white;
}

.check_ins{
    height: 500px;
    width: 956px;
    background-color: white;
}

.revenue{
    height: 500px;
    width: 956px;
    background-color: white;
}

.transactions{
    height: 500px;
    width: 1912px;
    background-color: white;
}

section h1{
    justify-content: center;
    display: flex;
}

footer{
    height: 400px;
    width: auto;
    display: flex;
}

.contact{
    height: 300px;
    width: 200px;
    margin-left: 200px;
}

.promo{
    height: 300px;
    width: 500px;
    margin-left: 200px;
}

.information{
    height: 300px;
    width: 500px;
}

.footer_h1{
    color: white;
    margin-left: 30px;
    margin-top: 60px;
}

li{
    list-style: none;
    margin-top: 10px;
    color: white;
}
