body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    background-image: url("gym.jpg");
}

a{
    text-decoration: none;
}

.login{
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 200px;
    margin-left: 700px
    
}

.logo{
    width: 150px;
    height: auto;
    margin-left: 170px;
    display: flex;
}

.username{
    margin-left: 100px;
    margin-bottom: 10px;
    display: flex;
    width: 280px;
    height: 35px;
    border-radius: 10px;
    font-weight: bolder;
}

.password{
    margin-left: 100px;
    margin-bottom: 10px;
    width: 280px;
    height: 35px;
    border-radius: 10px;
    font-weight: bolder;
}

.login_btn{
    margin-left: 100px;
    margin-bottom: 10px;
    width: 290px;
    height: 35px;
    border-radius: 10px;
}

.login_btn:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
}

.create_acc{
    margin-left: 100px;
    margin-bottom: 10px;
    width: 290px;
    height: 35px;
    border-radius: 10px;
}

.create_acc:hover{
    background-color: black;
    color: white;
    transition: 1s;
}

.forgot{
    margin-left: 188px;
    color: white;
}