body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    display: flex;
}

nav{
    background-color: black;
    height: 80px;
    display: flex;
}

p{
    color: white;
}

.label{
    margin-top: 25px;
    margin-left: 10px;
    font-size: x-large;
    margin-right: 15px;
}

#promo_label{
    margin-left: 1130px;
}

.menu-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    margin-top: 19px;
    margin-left: 19px;
}

.menu-btn span {
    display: block;
    height: 3px;
    width: 25px;
    background: white;
    margin: 5px auto;
}

header{
    height: 550px;
    width: auto;
    background-image: url("gym.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.header_logo{
    height: 500px;
    width: cpx;
    justify-content: center;
    display: flex;
}

.tracker{
    height: 500px;
    width: 956px;
    background-color: white;
    display: flex;
}

.tracker2{
    height: 500px;
    width: 956px;
    display: flex;
    background-color: white;
}

.icon_container{
    height: 130px;
    width: 1895px;
    background-color: black;
    display: flex;
}

.icon_container2{
    height: 150px;
    width: 1895px;
    background-color: black;
    display: flex;
}

.tracker_icon{
    height: 100px;
    width: 100px;
    background-color: white;
    margin-right: 50px;
    margin-left: 820px;
    margin-top: 20px;
    border-radius: 10px;
}

.subscription_icon{
    height: 100px;
    width: 100px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 870px;
}

.profile_icon{
    height: 100px;
    width: 100px;
    background-color: white;
    margin-right: 50px;
    margin-left: 820px;
    margin-top: 20px;
    border-radius: 10px; 
    background-image: url("profile icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    
.profile_icon:hover{
    height: 100px;
    width: 100px;
    background-color: white;
    transition: 0.5s;
    background-image: url("profile icon2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    height: 100px;
    width: 100px;
}

.feedback_icon{
    height: 100px;
    width: 100px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 870px;
}

.tracker_img{
    height: 500px;
    width: 948px;
}

.subscription{
    height: 500px;
    width: 956px;
    background-color: white;
}

.subscription2{
    height: 500px;
    width: 956px;
    background-color: white;
}

.user_profile{
    height: 500px;
    width: 956px;
    background-color: white;
}

.user_profile2{
    height: 500px;
    width: 956px;
    background-color: white;
}

.feedback{
    height: 500px;
    width: 956px;
    background-color: white;
}

.feedback2{
    height: 500px;
    width: 956px;
    background-color: white;
}


footer{
    height: 400px;
    width: auto;
    display: flex;
}

.contact{
    height: 300px;
    width: 200px;
    margin-left: 200px;
}

.promo{
    height: 300px;
    width: 500px;
    margin-left: 200px;
}

.information{
    height: 300px;
    width: 500px;
}

.footer_h1{
    color: white;
    margin-left: 30px;
    margin-top: 60px;
}

li{
    list-style: none;
    margin-top: 10px;
    color: white;
}