body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    background-color: black;
    height: 80px;
    display: flex;
    width: 100%;
}

p{
    color: white;
}

button{
    height: 50px;
    width: 100px;
    color: white;
    border: 1px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 1800px;
}

.add_btn{
    background-color: green;
}

table{
    width:100%;
    border-collapse: collapse;
    color: black;
}


.table_container{
    height: 1000px;
}

th{
    background-color:#1f2937;
    color:white;
    padding:15px;
    border-bottom: 1px solid #1f2937;
}

td{
    padding:15px;
    border-bottom:1px solid #ddd;
    border-top: 1px solid #ddd;
}

input{
    height: 25px;
    
}

tr:hover{
    background-color:#f5f5f5;
}

header{
    height: 550px;
    width: 100%;
    background-color: black;
    background-image: url("../img/gym.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.header_logo{
    height: 500px;
    width: 1895px;
    justify-content: center;
    display: flex;
}

.logo{
    height: 80px;
    width: 80px;
}

.label{
    margin-top: 25px;
    margin-left: 10px;
    font-size: x-large;
}


footer{
    height: 400px;
    width: auto;
    display: flex;
    background-color: black;
}

.contact{
    height: 300px;
    width: 200px;
    margin-left: 200px;
}

.promo{
    height: 300px;
    width: 500px;
    margin-left: 200px;
}

.information{
    height: 300px;
    width: 500px;
}

.footer_h1{
    color: white;
    margin-left: 30px;
    margin-top: 60px;
}

li{
    list-style: none;
    margin-top: 10px;
    color: white;
}
